/* Custom styles for IonMenu */
ion-menu ion-content {
  --background: rgb(4,163,155);
  --ion-item-background: rgb(4,163,155);
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
  color: white; /* Set note text color to white */
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
  padding-left: 10px;
  color: white; /* Set list header text color to white */
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: white; /* Change color to white */
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  color: white; /* Set item text color to white */
}

ion-menu.md ion-item:hover {
  --color: white; /* Ensure text color remains white when hovered */
}

ion-menu.md ion-item.selected {
  --background: rgba(255, 255, 255, 0.2); /* Lighten the background color for selected item */
  --color: white; /* Set text color to white for selected item */
}

ion-menu.md ion-item.selected ion-icon {
  color: white; /* Set icon color to white for selected item */
}

ion-menu.md ion-item ion-icon {
  color: white; /* Set item icon color to white */
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: white; /* Set item label color to white */
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
  color: white; /* Set note text color to white */
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  color: white; /* Set item text color to white */
}

ion-menu.ios ion-item:hover {
  --color: white; /* Ensure text color remains white when hovered */
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: white; /* Set item icon color to white */
}

ion-menu.ios ion-item.selected ion-icon {
  color: white; /* Set icon color to white for selected item */
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
  color: white; /* Set list header and note text color to white */
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
  color: white; /* Set note text color to white */
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: white; /* Set note text color to white */
}

ion-item.selected {
  --color: white; /* Set text color to white for selected item */
}

/* menu image style
.menu-img {
  height: 5px !important;
  width: 5px !important;
} */